@charset "utf-8";

/**** Start App ****/
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: pink;
}

/**** Start Header ****/
header {
  background: olivedrab;
  height: 50px;
}

/**** Start Main ****/
main {
  height: 100%;
  display: flex;
}

/** Start Side Menu **/
aside {
  background: darkolivegreen;
  /* width: 200px; */
  flex-grow: 1;
}

/** Start Map **/
section {
  background: darkmagenta;
  /* width: 100%; */
  flex-grow: 5;
}

/**** Start Footer ****/
footer {
  height: 50px;
  background: olivedrab;
}
