@charset "utf-8";

/**** Start App ****/
@media all and (min-width: 800px) {
  .app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/**** Start Header ****/
header {
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
  color: #464b5f;
}

@media all and (min-width: 800px) {
  header {
    height: 10%;
  }

  header h1 {
    font-size: 1.7rem;
  }
}

/**** Start Main ****/
main {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 800px) {
  main {
    height: 90%;
    flex-direction: row;
  }
}

/** Start Side Menu **/
aside {
  background-color: #f1f1f1;
  order: 2;
}

aside > div {
  background: #fff;
  /* margin: 0 0 10px; */
}

@media all and (min-width: 800px) {
  aside {
    width: 375px;
    padding: 10px 15px;
    overflow: hidden;
    overflow-y: scroll;
    order: 1;
  }

  aside > div {
    margin: 0 0 20px;
  }
}

/* Start Search Options */
aside .search-options h2 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 0;
  font-size: 1.2rem;
  background-color: #464b5f;
}

aside .search-options .options {
  padding: 5px 10px;
}

aside .search-options .options label,
aside .search-options .options select {
  display: block;
}

aside .search-options .options label {
  color: #555;
  margin: 2px 0 4px;
}

aside .search-options .options input,
aside .search-options .options select {
  width: 100%;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  color: #777;
  padding: 5px 10px;
  font-size: 1.1rem;
}

aside .search-options button {
  background-color: #fff;
  font-size: 1.1rem;
  border: 1px solid #e6e6e6;
  color: #929294;
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0 0;
  cursor: pointer;
}

.invalid-field {
  border: 1px solid red !important;
}

@media all and (min-width: 800px) {
  aside .search-options {
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.01);
  }

  aside .search-options h2 {
    font-size: 1.3rem;
  }

  aside .search-options .options input,
  aside .search-options .options select {
    font-size: 1.2rem;
  }

  aside .search-options button {
    font-size: 1.2rem;
  }
}

/* Start Filter Options */
aside .filter-options .options {
  padding: 5px 10px;
}

aside .filter-options h2 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 0;
  font-size: 1.1rem;
  background-color: #464b5f;
}

aside .filter-options .options input {
  width: 100%;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  color: #777;
  padding: 5px 10px;
  font-size: 1.1rem;
}

@media all and (min-width: 800px) {
  aside .filter-options {
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.01);
  }

  aside .filter-options h2 {
    font-size: 1.3rem;
  }

  aside .filter-options .options input {
    font-size: 1.2rem;
  }
}

/* Start Venues List */
aside .venues {
  padding: 10px;
}

aside .venues .message {
  text-align: center;
  color: #777;
}

aside .venues-list .venue {
  margin: 8px 0;
  animation: fadeInUp 1.4s;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 20%, 0);
    }

    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

aside .venues-list .venue button {
  cursor: pointer;
  color: #444;
  padding: 10px;
  border: 1px solid #e6e6e6;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  text-align: left;
}

aside .venues-list button:hover {
  color: #fff;
  background-color: #464b5f;
}

@media all and (min-width: 800px) {
  aside .venues {
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.01);
  }
}

/** Start Map **/
section {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
  order: 1;
}

@media all and (min-width: 600px) {
  section {
    height: 550px;
  }
}

@media all and (min-width: 800px) {
  section {
    width: 100%;
    height: 100%;
    position: relative;
    order: 2;
  }
}

/* Start Map Loader and Spinner */
.loader,
.google-loader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 999;
  display: none;
}

/* Start InfoWindow */
.gm-ui-hover-effect {
  top: 1px !important;
  right: -36px !important;
  background-color: #fff !important;
}

.infoWindow-content h3 {
  color: #464b5f;
  font-size: 1rem;
  margin: 0 0 5px;
}

.infoWindow-content img {
    border: 1px solid #d9dee9;
    border-radius: 0.3em;
    display: none;
}

.infoWindow-content .infoWindow-text {
  margin: 0 0 10px;
}

.infoWindow-content .infoWindow-text p {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.infoWindow-content .infoWindow-text p span {
  font-weight: bold;
  font-size: 1rem;
}

.infoWindow-content > span {
  color: #464b5f;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  letter-spacing: 0.05rem;
}

@media all and (min-width: 800px) {
  .infoWindow-content h3 {
    font-size: 1.2rem;
  }

  .infoWindow-content img {
    display: block;
    width: 150px;
}

  .infoWindow-content .infoWindow-text {
    margin: 0 0 15px;
  }

  .infoWindow-content .infoWindow-text p {
    font-size: 1.2rem;
  }

  .infoWindow-content .infoWindow-text p span {
    font-size: 1.1rem;
  }
}
